$breadcrumb-item-color              : $link;
$breadcrumb-item-hover-color        : $link-hover;
$breadcrumb-item-active-color       : $text-strong;

$breadcrumb-item-padding-vertical   : 0;
$breadcrumb-item-padding-horizontal : .75em;

$breadcrumb-item-separator-color    : $grey-dark;
