$pagination-color                     : $grey-darker;
$pagination-border-color              : $grey-lighter;
$pagination-margin                    : -0.25rem;
$pagination-min-width                 : $control-height;

$pagination-hover-color               : $link-hover;
$pagination-hover-border-color        : $link-hover-border;

$pagination-focus-color               : $link-focus;
$pagination-focus-border-color        : $link-focus-border;

$pagination-active-color              : $link-active;
$pagination-active-border-color       : $link-active-border;

$pagination-disabled-color            : $grey;
$pagination-disabled-background-color : $grey-lighter;
$pagination-disabled-border-color     : $grey-lighter;

$pagination-current-color             : $link-invert;
$pagination-current-background-color  : $link;
$pagination-current-border-color      : $link;

$pagination-ellipsis-color            : $grey-light;

$pagination-shadow-inset              : inset 0 1px 2px rgba($black, 0.2);
