.icon {
    flex-shrink: 0;
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

.media {
    &.is-vcentered {
        align-items: center;
    }
}

.column-count {
    @include tablet {
        column-gap: 4vw;

        @for $i from 1 through 3 {
            &.column-count-#{$i} {
                column-count: $i;
            }
        }
    }

    @include desktop {
        column-gap: 3vw;
    }

    @include widescreen {
        column-gap: 2vw;
    }
}

.has-drop-cap p:first-child:first-letter {
    font-family: $family-serif;
    padding: 0 .5rem 0 0;
    font-size: 4.5em;
    line-height: 1;
    color: $black;
    float: left;
}

.post-meta {
    font-size: $size-7;
    margin-bottom: 1em;

    .categories {
        li {
            display: inline-block;
            position: relative;

            &.category + .category {
                padding-left: 1em;
                margin-left: .5em;

                &::before {
                    position: absolute;
                    left: 0;
                    content: "\2022";
                }
            }
        }
    }
}

dl {
    dt {
        font-weight: $weight-bold;
    }

    dd + dt {
        margin-top: 1em;
    }
}

.domain {
    &.is-inactive {

        strong {
            color: $grey-light;

        }

        svg path {
            fill: $grey-light;
        }
    }
}

.tag {
    &.is-fullwidth {
        width: 100%;
    }
}

.columns {
    &.flex-basis-1-items .column {
        flex-basis: 100%;
    }
    &.flex-basis-2-items .column {
        flex-basis: 50%;
    }
    &.flex-basis-3-items .column {
        flex-basis: 33%;
    }
    &.flex-basis-4-items .column {
        flex-basis: 50%;
    }
    &.flex-basis-5-items .column {
        flex-basis: 33%;
    }
    &.flex-basis-6-items .column {
        flex-basis: 33%;
    }
    &.flex-basis-7-items .column {
        flex-basis: 25%;
    }
}

.block-form-section {
    padding: 0;

    &:last-child {
        padding-bottom: 0;
    }

    .collapse-trigger {
        margin: 0;
        display: block;
    }

    .collapse-content {
        padding: 1.5rem;
    }

    .field {
        line-height: 1.25;

        .help-text {
            font-size: $help-size;
            display: block;
            color: $grey;
        }

        .label ~ .control {
            margin-top: .5rem;
        }
    }
}

.notices {
    .notification {
        pointer-events: all;
        max-width: 500px;
    }
}
