.solution {
    position: relative;

    .solution-status {
        position: absolute;
        z-index: 2;
        padding: 0;
        right: 0;
        top: 1em;
    }
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.horizontal-scroll {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Firefox */
}
