$body-background-color : $white;
$body-size             : 16px;
$body-rendering        : optimizeLegibility;
$body-family           : $family-primary;
$body-color            : $text;
$body-weight           : $weight-normal;
$body-line-height      : 1.5;
$body-overflow-x       : hidden;
$body-overflow-y       : scroll;

$code-family           : $family-code;
$code-padding          : 0.25em 0.5em 0.25em;
$code-weight           : normal;
$code-size             : 0.875em;

$hr-background-color   : $background;
$hr-height             : 2px;
$hr-margin             : 1.5rem 0;

$strong-color          : $text-strong;
$strong-weight         : $weight-bold;
