// The container horizontal gap, which acts as the offset for breakpoints
$gap                 : 64px;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet              : 720px;

// 960px container + 4rem
$desktop             : 960px + (2 * $gap);

// 1152px container + 4rem
$widescreen          : 1152px + (2 * $gap);
$widescreen-enabled  : true;

// 1344px container + 4rem
$fullhd              : 1344px + (2 * $gap);
$fullhd-enabled      : true;

$variable-columns    : false;


$embed-aspect-ratios : (
    (21 9),
    (16 9),
    (4 3),
    (1 1),
);
