$button-color                       : $grey-darker;
$button-background-color            : $white;

$button-border-color                : $grey-lighter;
$button-border-width                : $control-border-width;

$button-padding-vertical            : calc(0.375em - #{$button-border-width});
$button-padding-horizontal          : 0.75em;

$button-hover-color                 : $link-hover;
$button-hover-border-color          : $link-hover-border;

$button-focus-color                 : $link-focus;
$button-focus-border-color          : $link-focus-border;
$button-focus-box-shadow-size       : 0 0 0 0.125em;
$button-focus-box-shadow-color      : rgba($link, 0.25);

$button-active-color                : $link-active;
$button-active-border-color         : $link-active-border;

$button-text-color                  : $text;
$button-text-hover-background-color : $background;
$button-text-hover-color            : $text-strong;

$button-disabled-background-color   : $white;
$button-disabled-border-color       : $grey-lighter;
$button-disabled-shadow             : none;
$button-disabled-opacity            : 0.5;

$button-static-color                : $grey-dark;
$button-static-background-color     : $white-bis;
$button-static-border-color         : $grey-lighter;
