$title-color              : $black;
$title-size               : $size-3;
$title-weight             : $weight-semibold;
$title-line-height        : 1.125;
$title-strong-color       : inherit;
$title-strong-weight      : inherit;
$title-sub-size           : 0.75em;
$title-sup-size           : 0.75em;

$subtitle-color           : $grey-dark;
$subtitle-size            : $size-5;
$subtitle-weight          : $weight-normal;
$subtitle-line-height     : 1.25;
$subtitle-strong-color    : $grey-darker;
$subtitle-strong-weight   : $weight-semibold;
$subtitle-negative-margin : -1.25rem;
