on: push
  # push:
  #   branches:
  #     - master

name: Deploy
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      APP_ENV: "ci"
      APP_KEY: "base64:eA2N1E6oYSeaUl5XSfDUUdI4Qdc/bN1khF8C0JFPZeM="
      DEPLOY_PRODUCTION_HOSTNAME: "staging.civiclabs.ro"
      DEPLOY_PRODUCTION_PATH: "/var/www/staging.civiclabs.ro"
      DEPLOY_REPOSITORY: "git@github.com:code4romania/civiclabs.ro.git"
    steps:
    - uses: actions/checkout@v2

    # Setup environment
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.3
        extensions: mbstring, sqlite, pdo_sqlite
        tools: composer, phpcs
        coverage: none
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'

    # Setup caching
    - name: Cache composer dependencies
      uses: actions/cache@v1
      with:
        path: ~/.composer/cache/files
        key: dependencies-composer-${{ hashFiles('composer.lock') }}
    - name: Cache npm dependencies
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: dependencies-npm-${{ hashFiles('package-lock.json') }}

    # Install dependencies
    - name: composer install
      run: composer install --ignore-platform-reqs --no-scripts --no-interaction --prefer-dist --optimize-autoloader
    - name: twill-install
      run: npm run twill-install
    - name: npm install
      run: npm install --prefer-offline --no-audit --no-fund

    # Coding standard
    - name: phpcs
      run: phpcs --standard=phpcs.xml

    # Build
    - name: twill-build
      run: npm run twill-build
    - name: build frontend
      run: npm run production

    # Deploy
    - name: Setup SSH Keys and known_hosts
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan $DEPLOY_PRODUCTION_HOSTNAME >> ~/.ssh/known_hosts
        ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"
    - name: Deploy
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: php artisan deploy production
